"prerender": {
  "builder": "@nguniversal/builders:prerender",
  "options": {
    // ...
    <TEX>\bfs</TEX>"routes": [
      "/",
      "/home",
      "/books",
      "/books/9783864907791"
    ]<TEX>\bfe</TEX>
  },
  // ...
}
